<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'website/base.css' %}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ipguard.ainslove.es/">
    <meta property="og:title" content="This tool allows to obtain information of ips">
    <meta property="og:description" content="It is a non-profit project that can be used to obtain information about your ip address or anyone else.">
    <meta property="og:image" content="https://ipguard.ainslove.es/static/website/pictures/smalllogoipguard.png">

    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/leftfloralbackground.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/rightfloralbackground.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/logoipguard.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/earthbackground.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'website/pictures/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'website/pictures/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'website/pictures/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'website/pictures/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'website/pictures/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'website/pictures/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'website/pictures/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'website/pictures/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/pictures/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'website/pictures/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/pictures/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'website/pictures/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/pictures/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'website/pictures/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'website/pictures/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<header>
    <a href="/"><img class="logo" src="{% static 'website/pictures/logoipguard.png' %}" alt="IP Guard Logo"></a>
    <div class="header_spacer"></div>
    <nav>
        <ul>
            <li><a href="/"><h1>HOMEPAGE</h1></a></li>
            <li><a href="/apiPage"><h1>API</h1></a></li>
            <li><a href="https://github.com/ainssssss/ipguard"><h1>PROJECT</h1></a></li>
            <li style=""><a href="/"><h1>EN</h1></a>  <h1 style="color: white;"> / </h1>
            <a href="/nr/"> <h1>NR</h1></a> </li>
	    </ul>
    </nav>
</header>

<div class="floral_backgrounds" style="position: relative; height: 800px; overflow: hidden;">
    <img class="left_image" src="{% static 'website/pictures/leftfloralbackground.png' %}" alt="Left Floral Background"
        style="position: absolute; left: 20.5%; bottom: 6%; width: 5%; height: auto; z-index: 1;">
    <img class="right_image" src="{% static 'website/pictures/rightfloralbackground.png' %}" alt="Right Floral Background"
        style="position: absolute; right: 21%; bottom: 6%; width: 4.6%; height: auto; z-index: 1;">
</div>

<section>
    {% block content %}{% endblock %}
</section>

<footer>
    <h1>All rights reserved @IPGUARD</h1>
</footer>


</body>
</html>
