<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'website/base.css' %}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ipguard.ainslove.es/nr/">
    <meta property="og:title" content="This tool allows to obtain information of ips">
    <meta property="og:description" content="It is a non-profit project that can be used to obtain information about your ip address or anyone else.">
    <meta property="og:image" content="https://ipguard.ainslove.es/static/website/pictures/smalllogoipguard.png">


    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/leftfloralbackground.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/rightfloralbackground.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/logoipguard.png" />
    <link rel="prefetch" href="https://ipguard.ainslove.es/static/website/pictures/earthbackground.png" />

</head>
<body>
<header>
    <a href="/"><img class="logo" src="{% static 'website/pictures/logoipguard.png' %}" alt="IP Guard Logo"></a>
    <div class="header_spacer"></div>
    <nav>
        <ul>
            <li><a href="/nr/"><h1>HJEMMESIDE</h1></a></li>
            <li><a href="/nr/apiPage"><h1>API</h1></a></li>
            <li><a href="https://github.com/ainssssss/ipguard"><h1>PROSJEKT</h1></a></li>
<li style=""><a href="/"><h1>EN</h1></a>  <h1 style="color: white;"> / </h1>
  <a href="/nr/"> <h1>NR</h1></a> </li>
	</ul>
    </nav>
</header>

<div class="floral_backgrounds" style="position: relative; height: 800px; overflow: hidden;">
    <img class="left_image" src="{% static 'website/pictures/leftfloralbackground.png' %}" alt="Left Floral Background"
        style="position: absolute; left: 20.5%; bottom: 6%; width: 5%; height: auto; z-index: 1;">
    <img class="right_image" src="{% static 'website/pictures/rightfloralbackground.png' %}" alt="Right Floral Background"
        style="position: absolute; right: 21%; bottom: 6%; width: 4.6%; height: auto; z-index: 1;">
</div>

<section>
    {% block content %}{% endblock %}
</section>

<footer>
    <h1>Alle rettigheter forbeholdt @IPGUARD</h1>
</footer>


</body>
</html>
