@font-face {
  font-family: 'Hammersmith One';
  src: url('/static/website/fonts/HammersmithOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #0A253F 42%, #00457E 75%);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Hammersmith One', sans-serif;
}

header {
  background: linear-gradient(33.79deg, #000032 0%, #0E0E4D 100%);
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0em 2em;
}

header ul {
  display: flex;
  flex-direction: row;
gap: 5%;
  margin-left: 188px;
}

.logo {
  margin-top: 8px;
}

li a {
  text-decoration: none;
  color: white;
}

.header_spacer {
  width: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: -moz-available;
  background: #000032;
  color: white;
  padding: 1em;
  text-transform: uppercase;
}

ul li {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.5em;
}
